# --- IDEs ---
.vscode/
.vs/
*.code-workspace
*.swp
*.swo

# --- Build Output ---
[Bb]uild/
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.o
*.obj
*.exe
*.out
# 具体的测试程序名
stl_test

# --- CMake ---
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# --- OS temporary files ---
.DS_Store
Thumbs.db